@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

.noteGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


::placeholder {
  opacity: 45%;
}
