*,
* ::after,
* ::before {
    margin: 0;
    padding: 0;
}

.Header {
    background-color: rgb(238, 194, 18);
    padding: 1.3rem 1.5rem;
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
    color: white;
    text-align: left;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}